<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reservations</title>

    <script src="https://kit.fontawesome.com/e379a698ba.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e379a698ba.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="sticky-top">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><img src="/img/logo.png"> Canada Hotel</a>
        </nav>

        <nav class="navbar navbar-expand-sm bg-1 navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/reservations">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guests">Guests</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Rooms</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/addroom">Add Room</a>
                        <a class="dropdown-item" href="/rooms">View All Rooms</a>
                        <a class="dropdown-item" href="#">Edit Room</a>


                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <br>

    <div class="container">
        <div class="card">
            <div class="card-header bg-dark">
                <h2 class="text-light">Add Reservation</h2>
            </div>
            <div class="card-body">
                <form action="#" method="POST" th:action="@{/addareservation}" th:object="${reservation}">
                    <div class="form-group">
                        Guest Name:
                        <select th:field="*{guestId}" class="custom-select form-control">
                            <option th:each="guest : ${guestDetails}" th:value="${guest.guestId}"
                                th:text="${guest.firstName} + ' ' + ${guest.lastName}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" th:field="*{reservationDate}" placeholder="Date" class="form-control"
                            id="date">
                    </div>

                    <!-- Dropdown for room Number selections -->
                    <div class="form-group">Room Number
                        <select th:field="*{roomId}" class="custom-select">

                            <option th:each="room: ${roomDetails}" th:value="${room.roomId}"
                                th:text="${room.roomNumber}" class="form-control">
                                Select
                                Room Number</option>
                        </select>
                    </div>
                    <button class="btn btn-secondary" type="submit">Submit</button>
                </form>

            </div>

        </div>
    </div>
</body>

</html>