<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<title>Add Room</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container mt-5 w-50">
			<div class="card">
				<div class="card-header bg-dark">
					<h2 class="text-light">Add a Room</h2>
				</div>
				<div class="card-body">
					<form action="#" th:action="@{/addaroom}" th:object="${room}"
						method="post">
						<div class="form-group">
							<input class="form-control" type="text" th:field="*{roomNumber}"
								placeholder="Room Number">
						</div>
						<div class="form-group">
							<input class="form-control" type="text" th:field="*{roomName}"
								placeholder="Room Name">
						</div>
						<div class="form-group">
							<input class="form-control" type="text" th:field="*{bedInfo}"
								placeholder="Bed Info">
						</div>

						<button class="btn btn-secondary" type="submit">Submit</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>