<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reservations</title>

    <script src="https://kit.fontawesome.com/e379a698ba.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e379a698ba.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="sticky-top">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><img src="/img/logo.png"> Canada Hotel</a>
        </nav>

        <nav class="navbar navbar-expand-sm bg-1 navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/reservations">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guests">Guests</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Rooms</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/addroom">Add Room</a>
                        <a class="dropdown-item" href="/rooms">View All Rooms</a>
                        <a class="dropdown-item" href="#">Edit Room</a>


                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <h1>Add Reservation</h1>
    </div>

    <div class="container">
        <form action="#" method="POST" th:action="@{/addareservation}" th:object="${reservation}">
            <input type="text" th:field="*{roomId}" placeholder="Room Number" name="roomNumber">
            <input type="text" th:field="*{guestId}" placeholder="Guest Name" name="guestName">
            <input type="date" th:field="*{reservationDate}" placeholder="Date" name="reservationDate">

            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>