<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/site.css">
	<script src="https://kit.fontawesome.com/e379a698ba.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>
$(function () {
    $("#header").load("header.html");
});
</script>

<body>
	<div id="header"></div>
	<h2>Add a Room</h2>
	<form action="#" th:action="@{/addaroom}" th:object="${room}"
		method="post">
		<p>
			<input type="text" th:field="*{roomNumber}" placeholder="Room Number">
		</p>
		<p>
			<input type="text" th:field="*{roomName}" placeholder="Room Name">
		</p>
		<p>
			<input type="text" th:field="*{bedInfo}" placeholder="Bed Info">
		</p>

		<input type="submit">

	</form>

</body>
</html>