<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<title>Edit Room</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container mt-5 w-50">
			<div class="card">

				<div class="card-header bg-dark">
					<h2 class="text-light">Edit Room Details</h2>
				</div>

				<div class="card-body">
					<form action="#" th:action="@{/update}" th:object="${room}"
						method="post">

						<div class="form-group">
							<input type="text" th:field="*{roomName}" id="roomName"
								placeholder="Room Name"> <input type="text"
								th:field="*{roomNumber}" id="roomNumber" placeholder="Room Name">
						</div>
						<div class="form-group">
							<input type="text" th:field="*{bedInfo}" id="bedInfo"
								placeholder="Bed Info"> <input type="hidden" id="id"
								th:field="*{roomId}">
						</div>
						<button class="btn btn-secondary" type="submit">Update</button>
					</form>
				</div>
			</div>
		</div>

	</div>
</body>

</html>