<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/site.css">
	<script src="https://kit.fontawesome.com/e379a698ba.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>
$(function () {
    $("#header").load("header.html");
});
</script>

<body>
	<div id="header"></div>
<h3>EDIT ROOM DETAILS</h3>

<form action="#"
  th:action="@{/update}"
  th:object="${room}"
  method="post">

    <input type="text" th:field="*{roomName}" id="roomName" placeholder="Room Name">    
    <input type="text" th:field="*{roomNumber}" id="roomNumber" placeholder="Room Name">  
    <input type="text" th:field="*{bedInfo}" id = "bedInfo" placeholder="Bed Info">
    
    <input type="hidden" id="id" th:field="*{roomId}">
    
    <input type="submit" value = "Update">
</form>

</body>
</html>