<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Guests</title>
	<link rel="stylesheet" href="css/site.css">
	<script src="https://kit.fontawesome.com/e379a698ba.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>
$(function () {
    $("#header").load("header.html");
});
</script>

<body>
	<div id="header"></div>

	<h3>GUESTS DETAILS</h3>

	<table class="details-table">
		<thead>
			<tr>
				<td>Name</td>
				<td>Email Address</td>
				<td>Country</td>
				<td>Phone Number</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="guest : ${guestDetails}">
				<td th:text="${guest.firstName} + ' ' + ${guest.lastName}">Name</td>
				<td th:text="${guest.emailAddress}">Email Address</td>
				<td th:text="${guest.country}">Country</td>
				<td th:text="${guest.phoneNumber}">Phone Number</td>

				<!-- 				<td><a th:href="@{/delete/{roomId}(roomId=${room.roomId})}">Delete</a></td>
				<td><a th:href="@{/edit/{roomId}(roomId=${room.roomId})}">Edit</a></td> -->
			</tr>
		</tbody>


	</table>

</body>
</html>