<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<title>Guests</title>
</head>

<body>
	<div layout:fragment="content">
	
	<div class="container mt-4">
			<a class="btn btn-primary" href="/addguest">Add
				Guest</a>
		</div>

		<div class="container">
			<div class="page-header text-center">
				<h1>GUESTS DETAILS</h1>
			</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email Address</th>
						<th>Country</th>
						<th>Phone Number</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="guest : ${guestDetails}">
						<td th:text="${guest.firstName} + ' ' + ${guest.lastName}">Name</td>
						<td th:text="${guest.emailAddress}">Email Address</td>
						<td th:text="${guest.country}">Country</td>
						<td th:text="${guest.phoneNumber}">Phone Number</td>


					</tr>
				</tbody>


			</table>
		</div>
	</div>
</body>

</html>