<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<title>Reservations</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- Display reservations and search by date -->
		<section>
			<br>
			<div class="container">
				<a class="btn btn-primary" href="/add_reservation">Add
					Reservation</a>
			</div>

			<div class="container">
				<div class="page-header text-center">
					<h1>Reservations</h1>
				</div>

				<form method="GET">
					<div class="input-group">

						<input class="form-control" type="date" placeholder="Select Date"
							name="date">

						<div class="input-group-append">
							<button class="btn btn-success" type="submit">
								<i class="fas fa-search"></i></a>
							</button>
						</div>

					</div>
				</form>
				<br>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Room</th>
							<th>Room Name</th>
							<th>Guest</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="roomReservation: ${roomReservations}">
							<td th:text="${roomReservation.roomNumber}">Room No</td>
							<td th:text="${roomReservation.roomName}">Room Name</td>
							<td
								th:text="${roomReservation.lastName}!=null? ${roomReservation.lastName} + ',' + ${roomReservation.firstName} : 'VACANT'">
								Full Name</td>
						</tr>
					</tbody>

				</table>
			</div>
		</section>
	</div>
</body>

</html>