<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/site.css">
<script src="https://kit.fontawesome.com/e379a698ba.js"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>
	$(function() {
		$("#header").load("header.html");
	});
</script>

<body>
	<div id="header"></div>

	<h4>RESERVATIONS</h4>

	<!-- 	<div class="search-box">
		<input class="search-txt" type="text" name="" placeholder="Search">
		<a class="search-btn" href="#"><i class="fas fa-search"></i></a>
	</div> -->

	<div class="search-box-resrv">
		<form action="" method="get">
			<input class="search-resv-txt" type="date"
				placeholder="Select Date" name="date">
			<button class="search-btn" type="submit"><i class="fas fa-search"></i></a></button>
		</form>
	</div>
	<div>
		<table>
			<tr>
				<td>Room</td>
				<td>Room Name</td>
				<td>Guest</td>
			</tr>

			<tr th:each="roomReservation: ${roomReservations}">
				<td th:text="${roomReservation.roomNumber}">Room No</td>
				<td th:text="${roomReservation.roomName}">Room Name</td>
				<td
					th:text="${roomReservation.lastName}!=null? ${roomReservation.lastName} + ',' + ${roomReservation.firstName} : 'VACANT'">
					Full Name</td>
			</tr>

		</table>
	</div>
</body>

</html>