<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<title>Rooms</title>
</head>

<body>
	<div layout:fragment="content">
	<br>
		<div class="container">
			<a class="btn btn-primary" href="/addroom">Add
				Room</a>
		</div>

		<div class="container">
			<div class="page-header text-center">
				<h1>Room Details</h1>
			</div>

			<form method="GET">
				<div class="input-group">

					<input class="form-control" type="text" placeholder="Room Number"
						name="roomnumber">

					<div class="input-group-append">
						<button class="btn btn-success" type="submit">
							<i class="fas fa-search"></i></a>
						</button>
					</div>

				</div>
			</form>
			<br>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td>Room Number</td>
						<td>Room Name</td>
						<td>Bed Info</td>
						<td colspan="2">Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="room : ${roomDetails}">
						<td th:text="${room.roomNumber}">Room Number</td>
						<td th:text="${room.roomName}">Room Name</td>
						<td th:text="${room.bedInfo}">Bed Info</td>
						<td><a th:href="@{/delete/{roomId}(roomId=${room.roomId})}">Delete</a></td>
						<td><a th:href="@{/edit/{roomId}(roomId=${room.roomId})}">Edit</a></td>
					</tr>
				</tbody>


			</table>

		</div>
	</div>
</body>

</html>