<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/site.css">
	<script src="https://kit.fontawesome.com/e379a698ba.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>
$(function () {
    $("#header").load("header.html");
});
</script>

<body>
	<div id="header"></div>
	<h4>ROOM DETAILS</h4>

	<form action="" method="get">
		<input type="text" name="roomnumber" placeholder="Room Number">
		<input type="submit" value="Search">
	</form>
	<div class="card-box">
		<table class="details-table">
			<thead>
				<tr>
					<td>Room Number</td>
					<td>Room Name</td>
					<td>Bed Info</td>
					<td colspan="2">Action</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="room : ${roomDetails}">
					<td th:text="${room.roomNumber}">Room Number</td>
					<td th:text="${room.roomName}">Room Name</td>
					<td th:text="${room.bedInfo}">Bed Info</td>
					<td><a th:href="@{/delete/{roomId}(roomId=${room.roomId})}">Delete</a></td>
					<td><a th:href="@{/edit/{roomId}(roomId=${room.roomId})}">Edit</a></td>
				</tr>
			</tbody>


		</table>
	</div>

</body>

</html>